<html>
<head>
		<title>Fin Choice Platform</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

		<style>
     #table{
     display:none;
     }

     #realTable{
     display:none;
     width:80%;
     }
     #outputTable{
     display:none;
     }

    .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: lavender;
}


    table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    padding:5px;
    }
    th, td {
    text-align: center
    text-align: left;
    }



   #t02   tr:nth-child(even) {
    background-color: #eee;
    padding:5px;
    }
   #t02  tr:nth-child(odd) {
   background-color:#fff;
   padding:5px;
    }
   #t02   th  {
    background-color: #3B3B33;
    color: white;
    padding:5px;
}

 #t03   tr:nth-child(even) {
    background-color: #eee;
    padding:5px;
    }
   #t03  tr:nth-child(odd) {
   background-color:#fff;
   padding:5px;
    }
   #t03   th  {
    background-color: #3B3B33;
    color: white;
    padding:5px;
}


    </style>

</head>

<body>
	<!-- title and image -->
		<div class="container">
			<!--About Project Webpage-->
			<form class="navbar-form navbar-right" role="search">
				<a href="http://i.cs.hku.hk/~msd15099/" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> About Project</a>
			</form>
			<br>

			<!--title-->
			<center>
			<br>
			<h1 id="title" >Simple FinChoice - Stock</h1>
			<br>
			<!--title figure-->
			<img id="img" src="/static/img/stock.png" class="img-circle" alt="Cinque Terre" width="40%" height="40%" style="margin: 2px solid lightgrey">
			<br>
		</center>
		</div>
		<br>
	  <br>

		<!-- dropdown button -->
		<div ng-app="" >
		<div ng-controller="stockController">
		<center>
		<div class="container">
			<ul style="display:inline;list-style-type: none;">
			<li>
				<div class="dropdown" >
				<button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="menu1" data-toggle="dropdown" style="width:250px;font-size:15px;">Investment Cycle
				<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
					<li role="presentation"><a id="menu1.1" role="menuitem" tabindex="-1" href="#" onclick="change1(this.id)" ng-click="Mar='Q'">Long Term (1Y-2Y, more )</a></li>
					<li role="presentation"><a id="menu1.2" role="menuitem" tabindex="-1" href="#" onclick="change1(this.id)" ng-click="Mar='G'">Short Term (30Days-90Days,less 1Y)</a></li>
					<li role="presentation" class="divider"></li>
				</ul>
			 </div>

		 </li>

		<!--可以添加的list
			 <li><div class="dropdown" style="float: left; left:15%;">
				<button class="btn btn-warning dropdown-toggle btn-lg" type="button" id="menu2" data-toggle="dropdown" style="width:250px;font-size:15px;">Stock Predict Method
				<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="menu2" >
					<li role="presentation"><a id="menu2.1" role="menuitem" tabindex="-1" href="#" onclick="change2(this.id)" ng-click="Tes='Y'">Linear Regression</a></li>
					<li role="presentation"><a id="menu2.2" role="menuitem" tabindex="-1" href="#" onclick="change2(this.id)" ng-click="Tes='N'">Asset Simulation</a></li>
					<li role="presentation"><a id="menu2.2" role="menuitem" tabindex="-1" href="#" onclick="change2(this.id)" ng-click="Tes='N'">more</a></li>
					<!--<li role="presentation"><a id="menu2.3" role="menuitem" tabindex="-1" href="#" onclick="change2(this.id)">North America</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">More</a></li>-->
		<!--</ul>
			</div></li>
		-->
		<!--

			<li><div class="dropdown" style="float: left; left:20%">
				<button class="btn btn-danger dropdown-toggle btn-lg" type="button" id="menu3" data-toggle="dropdown" style="width:250px;font-size:15px;">Financial Status
				<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
					<li role="presentation"><a id="menu3.1" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='D'">Deficient(D)</a></li>
					<li role="presentation"><a id="menu3.2" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='E'">Delinquent(E)</a></li>
					<li role="presentation"><a id="menu3.3" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='Q'">Bankrupt(Q)</a></li>
					<li role="presentation"><a id="menu3.4" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='N'">Normal(N)</a></li>
					<li role="presentation"><a id="menu3.5" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='G'">Deficient and Bankrupt(G)</a></li>
					<li role="presentation"><a id="menu3.6" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='H'">Deficient and Delinquent(H)</a></li>
					<li role="presentation"><a id="menu3.7" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='J'">Delinquent and Bankrupt(J)</a></li>
					<li role="presentation"><a id="menu3.8" role="menuitem" tabindex="-1" href="#" onclick="change3(this.id)" ng-click="fin='K'">Deficient, Delinquent, Bankrupt(K)</a></li>
					<!--<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">More</a></li>-->
		<!--
			</ul>
			</div></li>


			<li><div class="dropdown" style="float: left; left:25%">
			<button id="searchbutton" class="btn btn-default btn-lg" type="button" style="border-radius: 50%;" ng-click="submit()"><span class="glyphicon glyphicon-search" ></span> </button>
		</div></li>


		</ul>
		 </div>
		 -->
		</center>
		<br><br>

		</div>







<!-- Search Stock for Pentagon Chart-->
		<div ng-controller="outputController">
		  <center>
		<div class="container">
		  <form role="form" action="/search-stock/" method="get" id="box">
		   <div class="form-group" >
		    <input id="append" name="q"  type="text" class="form-control" placeholder="Enter favorite stock code" style="width:40%;float:left;margin-left:250px" >
		    <button id="button" value="search" type="submit" ng-click="submit()" class="btn btn-success dropdown-toggle btn-md" style="float:left; margin-left:10px" >Search</button>
		   </div>
		  </form>
		</div>
		</center>

	<br>
	<br>









</body>
</html>
